* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(ui-esports-2024_front/aab.png)no-repeat center center;
  background-size: cover; 
}

.container {
  text-align: center;
  color: white;
  max-width: 90%;
  z-index: 10;
}

.back-button {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 30px; 
    left: 40px; 
    padding: 10px 20px;
}
.back-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
}
.back-button:hover::after {
    transform: scaleX(1);
}

.error-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-text h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.error-text p {
  font-size: 18px;
}

.error-image img {
  max-width: 300px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .error-text h1 {
    font-size: 60px;
  }

  .error-text p {
    font-size: 16px;
  }

  .error-image img {
    max-width: 200px;
  }
}